@font-face {
  font-family: "MagicSchoolOne";
  src: url("./fonts/MagicSchoolOne.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "MagicSchoolTwo";
  src: url("./fonts/MagicSchoolTwo.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-MagicSchoolOne: "MagicSchoolOne", serif;
  --font-MagicSchoolTwo: "MagicSchoolTwo", serif;
  --font-Cinzel: "Cinzel", serif;
  --color-dark-blue: #0a0e1a;
  --color-gold: #d4af37;
  --image-gryffondor: url(/house/bg-gryffondor.jpg);
  --image-serpentard: url(/house/bg-serpentard.jpg);
  --image-poufsouffle: url(/house/bg-poufsouffle.jpg);
  --image-serdaigle: url(/house/bg-serdaigle.jpg);
}

@keyframes magic-float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-100px) rotate(360deg);
    opacity: 0;
  }
}
.animate-magic-float {
  animation-name: magic-float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bg {
  background-image:
    url(/horizons_village.png),
    linear-gradient(180deg, #15111d, #323657 121.35%);
  background-repeat: no-repeat;

  background-position: center bottom;
  background-size: 250% auto, cover; 
}

@media (min-width: 768px) {
  .bg {
    background-size: 150% auto, cover;
    background-position: center 101%, bottom;
  }
}

@media (min-width: 1280px) {
  .bg {
    background-size: 110% auto, cover; 
  }
}

.animate-float {
  animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.magic-text {
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}
.btn-magic:hover {
  color: var(--color-gold);
  border-color: white;
  background: white;
  box-shadow:
    0 0 10px var(--color-gold),
    0 0 20px var(--color-gold);
}
@keyframes fadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
