@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@font-face {
  font-family: "MagicSchoolOne";
  src: url("./fonts/MagicSchoolOne.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "MagicSchoolTwo";
  src: url("./fonts/MagicSchoolTwo.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@theme {
  --font-magic-one: "MagicSchoolOne", serif;
  --font-magic-two: "MagicSchoolTwo", serif;
  --font-Cinzel: "Cinzel", serif;
  
  --color-dark-blue: #0a0e1a;
  --color-gold: #d4af37;

  --animate-float: floating 4s ease-in-out infinite;
  --animate-fade-in: fadeIn 0.5s ease-out forwards;

  @keyframes floating {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }

  @keyframes fadeIn {
    0% { transform: translateY(-10px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
}

@layer components {
  .bg-main-layout {
    @apply relative min-h-screen overflow-hidden;
    background-image: 
      url("./assets/horizons_village.png"), 
      linear-gradient(180deg, #15111d, #323657 121.35%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 250% auto, cover;

    @media (min-width: 768px) {
      background-size: 150% auto, cover;
      background-position: center 101%, bottom;
    }

    @media (min-width: 1280px) {
      background-size: 110% auto, cover;
    }
  }

  .magic-text {
    @apply text-gold;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
  }

  .btn-magic {
    @apply transition-all duration-300 border border-transparent px-6 py-2 rounded-lg;
    &:hover {
      @apply bg-white text-gold border-white;
      box-shadow: 0 0 10px var(--color-gold), 0 0 20px var(--color-gold);
    }
  }
}